body {
  padding-top: 30px;
}

#app {
  opacity: 0.99;
}

.InjectedInternetArchiveLink {
   z-index: 1;
   background: #111; 
   position: sticky;
   bottom: 0;
   width: 100%;
   text-align: center;
}

.InjectedInternetArchiveLink a {
    display: inline-block;
    padding: 30px;
    color: #eee;
}
